body {
  font-family: "Jersey 10", sans-serif;
}

#background {
  display: flex;
  justify-content: center;
}
#background img {
  width: 300px;
}

main {
  text-align: center;
  color: deeppink;
}

main h1 {
  font-size: 80px;
}

footer {
  display: flex;
  justify-content: center;
  font-size: 50px;
}
